/* CheckersBoard.css */
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px; /* Rounded corners for the board */
  overflow: hidden; /* Hide overflow for rounded corners */
  position: relative;
  background-color: #d1a580; /* Board background color */
  background-image: url('https://www.freepik.com/free-vector/realistic-brown-wooden-gallery-frame_38414854.htm#query=wood%20border&position=0&from_view=keyword&track=ais&uuid=bbb11f1a-1f06-444c-a3e2-41d322927bc6');
  background-size: cover; /* Adjust background size */
}

  
  .row {
    display: flex;
  }
  .cell {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    position: relative;
    font-size: 1.5rem; /* Adjust font size for chess piece symbols */
  }
  
  .cell:nth-child(odd) {
    background-color: #f0d9b5; /* light brown */
  }
  
  .cell:nth-child(even) {
    background-color: #b58863; /* dark brown */
  }
  
  .piece {
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
  
  .piece.W {
    background-color: white;
  }
  
  .piece.B {
    background-color: black;
  }